html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
    background: radial-gradient(saddlebrown, #DEB887);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: radial-gradient(saddlebrown, #DEB887);
    color: white;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.btn-primary {
    background-color: saddlebrown;
    color: #DEB887;
}


/* Карточки */
.card {
    color: saddlebrown;
    border: none;
}

/* Поля ввода */
.form-control, .form-select {
    color: saddlebrown;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

